In [1]:
# Load libraries
import pandas as pd
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
from sklearn.datasets import load_iris

In [2]:
# Reading the data By converting Normal String DataSet to Raw String DataSet
data = pd.read_csv(r"C:\Users\User\Desktop\Final-Project\Data\dataset2.csv")

# Printing First 5 Rows

data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1,0,0,1,0,5849,0.0,0,360,1,2,Y
1,LP001003,1,1,1,1,0,4583,1508.0,128,360,1,0,N
2,LP001005,1,1,0,1,1,3000,0.0,66,360,1,2,Y
3,LP001006,1,1,0,0,0,2583,2358.0,120,360,1,2,Y
4,LP001008,1,0,0,1,0,6000,0.0,141,360,1,2,Y

In [3]:
X=data.iloc[:,1:12]
Y=data.iloc[:,12]
Y[0:4]

0    Y
1    N
2    Y
3    Y
Name: Loan_Status, dtype: object

In [4]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.25, random_state=100) # 80% training and 20% test
clf = DecisionTreeClassifier()
clf.fit(X_train,Y_train)
Y_pred = clf.predict(X_test)
print("Accuracy:",metrics.accuracy_score(Y_test, Y_pred))

Accuracy: 0.6623376623376623