In [1]:
import pandas as pd
import numpy as np 
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [2]:
data = pd.read_csv(r"C:\Users\User\Desktop\Final-Project\Data\dataset2.csv")
df=data.iloc[:,1:13]
df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,1,0,0,1,0,5849,0.0,0,360,1,2,Y
1,1,1,1,1,0,4583,1508.0,128,360,1,0,N
2,1,1,0,1,1,3000,0.0,66,360,1,2,Y
3,1,1,0,0,0,2583,2358.0,120,360,1,2,Y
4,1,0,0,1,0,6000,0.0,141,360,1,2,Y

In [3]:
X = np.array(df.drop('Loan_Status', axis=1))
y = np.array(df['Loan_Status'])
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)
clf = RandomForestClassifier(n_estimators=100, random_state=42)
clf.fit(X_train, y_train)
accuracy = clf.score(X_test, y_test)
print('accuracy', accuracy)

accuracy 0.7154471544715447

In [4]:
y_pred = clf.predict(X_test)
print('Accuracy Score:', metrics.accuracy_score(y_test,y_pred))

Accuracy Score: 0.7154471544715447

In [5]:
print('confusion metrics :', metrics.confusion_matrix(y_test, y_pred))

confusion metrics : [[18 25]
 [10 70]]

In [6]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           N       0.64      0.42      0.51        43
           Y       0.74      0.88      0.80        80

    accuracy                           0.72       123
   macro avg       0.69      0.65      0.65       123
weighted avg       0.70      0.72      0.70       123